@{
    ViewBag.Title = "Home Page";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Images/book.jpg" alt="Book Picture">
            <div class="carousel-caption">
                <span>We Learn in the Best way!</span>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/laptop.jpg" alt="Laptop Pictuere">
            <div class="carousel-caption">
                <span>Technology based teaching</span>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/penciel.jpg" alt="Pencile Pictuere">
            <div class="carousel-caption">
                <span>Fun Enviroment</span>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="jumbotron">
    <h1>School Managment System</h1>
    <p class="lead">An ASP.NET web framework project for managing school built using HTML, CSS , JQueryUI and Alertify.js.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Courses</h2>
        <p>
            Use this option to view all courses and up coming courses at this Campus
        </p>
        <p>@Html.ActionLink("View Courses", "Index", "Course", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-6">
        <h2>Students</h2>
        <p>View all students that are enrolled at this Campus.</p>
        <p>@Html.ActionLink("View Students", "Index", "Student", null, new { @class = "btn btn-info" })</p>
    </div>

</div>